.asset52x1,
.ribinChild {
  position: absolute;
  left: 0%;
  width: 1728px;
}

.ribinChild {
  top: 146px;
  background-color: #f09ea6;
  height: 680px;
}

.asset52x1 {
  top: 138px;
  height: 689px;
  width: 100%;
  object-fit: cover;
}

.ribinItem {
  position: absolute;
  top: 2261px;
  left: 703px;
  border-radius: var(--br-17xl-5);
  background-color: var(--color-orangered);
  width: 320px;
  height: 73px;
}

.rectangleDiv,
.ribinChild1,
.ribinInner {
  position: absolute;
  top: 1524px;
  left: 0;
  background-color: var(--color-red);
  width: 100%;
  height: 688px;
}

.rectangleDiv,
.ribinChild1 {
  top: 3002px;
  background-color: var(--color-orangered);
  height: 500px;
}

.ribinChild1 {
  top: 4283px;
  height: 700px;
}

.ribinLogo1Icon {
  position: absolute;
  top: 20px;
  left: 51px;
  width: 295px;
  height: 106px;
  object-fit: cover;
}

.aboutUs,
.collection,
.download,
.partners {
  position: absolute;
  top: 56px;
  left: 39%;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-brown);
  text-align: left;
}

.aboutUs,
.collection,
.download {
  left: 53%;
}

.aboutUs,
.download {
  left: 70%;
}

.download {
  left: 85%;
}

.giftMem {
  margin: 0;
}

.giftMemRableContainer,
.toYourLovedContainer {
  position: absolute;
  letter-spacing: 0.03em;
  text-align: left;
}

.giftMemRableContainer {
  top: 291px;
  left: 74px;
  font-size: 4.2vw;
  line-height: 126.1%;
  text-transform: uppercase;
  font-weight: 900;
  color: #b61717;
  white-space: pre-wrap;
}

.toYourLovedContainer {
  top: 501px;
  left: 74px;
  font-size: 3vw;
  line-height: 0%;
  font-weight: 500;
  color: var(--color-orangered);
}

.layer1Icon {
  position: absolute;
  top: 290px;
  left: 500px;
  width: 61px;
  height: 75px;
  overflow: hidden;
}

.ribinChild2 {
  position: absolute;
  top: 893px;
  left: 614px;
  border-radius: var(--br-17xl-5);
  background-color: var(--color-orangered);
  width: 499px;
  height: 73px;
}

.aboutUs1,
.brandsThatTrust {
  position: absolute;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 800;
}

.brandsThatTrust {
  top: 908px;
  left: 638px;
  text-align: left;
}

.aboutUs1 {
  top: 2273px;
  left: 771px;
}

.ribinWebsite22Icon {
  position: absolute;
  top: 980px;
  left: 142px;
  right: 142px;
  width: 1444px;
  height: 518px;
  object-fit: cover;
}

.ribinChild3 {
  position: absolute;
  top: 1582px;
  left: 614px;
  border-radius: var(--br-17xl-5);
  background-color: var(--color-white);
  width: 499px;
  height: 73px;
}

.ourCollection {
  position: absolute;
  top: 1594px;
  left: 704px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-red);
  text-align: left;
}

.browseOurCollectionContainer {
  position: absolute;
  top: 1695px;
  left: 472px;
  font-size: 2.5vw;
  line-height: 126.1%;
  font-weight: 500;
}

.asset12x1 {
  position: absolute;
  top: 1844px;
  left: 132px;
  width: 1463px;
  height: 259px;
  object-fit: cover;
}

.foodBeveragesContainer {
  position: absolute;
  left: 138px;
  line-height: 111.5%;
  font-weight: 900;
}

.fashion,
.foodBeveragesContainer,
.jewelry {
  top: 2062px;
  font-size: var(--font-size-xl);
}

.fashion {
  position: absolute;
  left: 349px;
  line-height: 111.5%;
  text-transform: uppercase;
  font-weight: 900;
}

.jewelry {
  left: 553px;
}

.accessories,
.accessories1,
.entertainment,
.fitness,
.jewelry {
  position: absolute;
  line-height: 111.5%;
  text-transform: uppercase;
  font-weight: 900;
}

.entertainment {
  top: 2114px;
  left: 734px;
  font-size: 30px;
}

.accessories,
.accessories1,
.fitness {
  top: 2062px;
  left: 1082px;
  font-size: var(--font-size-xl);
}

.accessories,
.accessories1 {
  left: 1260px;
}

.accessories1 {
  left: 1457px;
}

.ribinAppIsContainer,
.ribinIsAContainer {
  position: absolute;
  top: 2448px;
  left: 132px;
  font-size: 3vw;
  letter-spacing: -0.01em;
  line-height: 126.1%;
  font-weight: 900;
  color: var(--color-orangered);
  text-align: left;
}

.ribinIsAContainer {
  top: 2597px;
  font-size: 2.5vw;
  letter-spacing: 0.02em;
  font-weight: 800;
}

.asset22x1,
.asset22x2,
.asset32x1 {
  position: absolute;
  top: 2337px;
  left: 1081px;
  width: 621px;
  height: 549px;
  object-fit: cover;
}

.asset22x2,
.asset32x1 {
  top: 3325px;
  left: 665px;
  width: 476px;
  height: 66px;
}

.asset32x1 {
  top: 2916px;
  left: 128px;
  width: 420px;
  height: 676px;
}

.downloadTheAppContainer {
  position: absolute;
  top: 3079px;
  left: 665px;
  font-size: var(--font-size-29xl);
  letter-spacing: 0.04em;
  line-height: 141.1%;
  font-weight: 900;
  text-align: left;
}

.ribinChild4 {
  position: absolute;
  top: 3657px;
  left: 265px;
  border-radius: var(--br-17xl-5);
  background-color: var(--color-orangered);
  width: 320px;
  height: 73px;
}

.contactUs {
  position: absolute;
  top: 3669px;
  left: 310px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 800;
}

.ribinChild5 {
  position: absolute;
  top: 3657px;
  left: 1114px;
  border-radius: var(--br-17xl-5);
  background-color: var(--color-orangered);
  width: 348px;
  height: 73px;
}

.followUsOn {
  position: absolute;
  top: 3669px;
  left: 1147px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 800;
}

.lineDiv {
  position: absolute;
  top: 3654.5px;
  left: 862.5px;
  border-right: 1px solid var(--color-orangered);
  box-sizing: border-box;
  width: 1px;
  height: 560px;
}

.ribinChild6,
.ribinChild7,
.ribinChild8 {
  position: absolute;
  top: 3799px;
  left: 125px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  width: 609px;
  height: 68px;
}

.ribinChild7,
.ribinChild8 {
  top: 3914px;
}

.ribinChild8 {
  top: 4029px;
}

.johnDoe,
.johndoegmailcom,
.xxxxxx99 {
  position: absolute;
  top: 3813px;
  left: 172px;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.02em;
  line-height: 126.1%;
  font-weight: 500;
  color: var(--color-lightgray);
  text-align: left;
}

.johndoegmailcom,
.xxxxxx99 {
  top: 3928px;
}

.xxxxxx99 {
  top: 4043px;
}

.ribinChild9 {
  position: absolute;
  top: 4147px;
  left: 331px;
  border-radius: 30px;
  background-color: var(--color-orangered);
  width: 198px;
  height: 61px;
}

.foodBeveragesContainer {
  position: absolute;
  left: 138px;
  line-height: 111.5%;
  font-weight: 900;
}

.fashion,
.foodBeveragesContainer,
.jewelry {
  top: 2062px;
  font-size: var(--font-size-xl);
}

.fashion {
  position: absolute;
  left: 349px;
  line-height: 111.5%;
  text-transform: uppercase;
  font-weight: 900;
}

.jewelry {
  left: 553px;
}

.accessories,
.accessories1,
.entertainment,
.fitness,
.jewelry {
  position: absolute;
  line-height: 111.5%;
  text-transform: uppercase;
  font-weight: 900;
}

.entertainment {
  top: 2114px;
  left: 734px;
  font-size: 30px;
}

.accessories,
.accessories1,
.fitness {
  top: 2062px;
  left: 1082px;
  font-size: var(--font-size-xl);
}

.accessories,
.accessories1 {
  left: 1260px;
}

.accessories1 {
  left: 1457px;
}


.send {
  position: absolute;
  top: 4153px;
  left: 380px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 800;
}

.asset32x2 {
  position: absolute;
  top: 3765px;
  left: 991px;
  width: 611px;
  height: 412px;
  object-fit: cover;
}

.companyOurServiceContainer,
.contactUsFaqContainer {
  position: absolute;
  top: 4444px;
  left: 150px;
  letter-spacing: 0.01em;
  line-height: 0%;
  text-transform: uppercase;
  font-weight: 800;
}

.contactUsFaqContainer {
  left: 1258px;
}

.wantToGiveContainer {
  position: absolute;
  top: 4643px;
  left: 629px;
  font-size: 28px;
  letter-spacing: 0.02em;
  line-height: 126.1%;
  font-weight: 500;
}

.asset42x1 {
  position: absolute;
  top: 4480px;
  left: 589px;
  width: 501px;
  height: 155px;
  object-fit: cover;
}

.ribin {
  position: relative;
  background-color: #ffefe5;
  width: 100%;
  height: 4974px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-avenir);
}

/*----------------------For Mobile Screens--------------------------

@media screen and (max-width: 600px) {

  .ribinItem {
    position: absolute;
    left: 0%;
    border-radius: 0;
    background-color: var(--color-orangered);
    width: 600px;
    height: 30px;
  }

  .asset52x1 {
    top: 2.66%;
    height: 540px;
    object-fit: cover;
  }

  .rectangleDiv,
  .ribinChild1,
  .ribinInner {
    position: absolute;
    top: 1524px;
    left: 0;
    background-color: var(--color-red);
    width: 600px;
    height: 688px;
  }

  .giftMemRableContainer,
  .toYourLovedContainer {
    position: absolute;
    letter-spacing: 0em;
    text-align: left;
  }


  .giftMemRableContainer {
    top: 250px;
    left: 8%;
    font-size: 50px;
    line-height: 115%;
    text-transform: uppercase;
    font-weight: 900;
    color: #b61717;
    white-space: pre-wrap;
  }


  .toYourLovedContainer {
    top: 420px;
    left: 8%;
    font-size: var(--font-size-20xl);
    line-height: 0%;
    font-weight: 500;
    color: var(--color-orangered);
  }


  .aboutUs,
  .collection,
  .download,
  .partners {
    position: absolute;
    top: 2.25%;
    left: 2%;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 1000;
    color: var(--color-brown);
    text-align: left;
  }

  .aboutUs,
  .collection,
  .download {
    left: 27%;
  }

  .aboutUs,
  .download {
    left: 55%;
  }

  .download {
    left: 78.5%;
  }

  .ribinLogo1Icon {
    position: absolute;
    top: 0.2%;
    left: 14%;
    width: 295px;
    height: 90px;
  }


  .ribinChild4 {
    top: 73.5%;
    left: 13%;
    border-radius: var(--br-17xl-5);
    width: 320px;
  }

  .contactUs {
    position: absolute;
    top: 73.6;
    left: 23%;
  }

  .ribinChild6,
  .ribinChild7,
  .ribinChild8 {
    top: 75.6%;
    left: 8%;
    width: 350px;
    height: 50px;
  }

  .ribinChild7,
  .ribinChild8 {
    top: 76.8%;
  }

  .ribinChild8 {
    top: 78%;
  }

  .johnDoe,
  .johndoegmailcom,
  .xxxxxx99 {
    top: 75.7%;
    left: 35%;
    text-align: center;
  }

  .johndoegmailcom,
  .xxxxxx99 {
    top: 76.9%;
    left: 18%;
  }

  .xxxxxx99 {
    top: 78.1%;
    left: 30%;
  }

  .ribinChild9 {
    top: 80%;
    left: 25%;
  }

  .send {
    top: 80.2%;
    left: 37%;
  }


  .ribinChild5 {
    top: 82%;
    left: 9%;
  }

  .followUsOn {
    top: 82.3%;
    left: 17%;
  }

  .asset32x2 {
    position: absolute;
    top: 84%;
    left: 991px;
    width: 611px;
    height: 412px;
    object-fit: cover;
  }

  .lineDiv {
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
  }

}*/

@media only screen and (min-device-width: 1280px) and (max-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
  /* CSS rules for MacBook Air */

  .ribinItem {
    position: absolute;
    left: 0%;
    border-radius: 0;
    background-color: var(--color-orangered);
    width: 600px;
    height: 30px;
  }

  .asset52x1 {
    top: 2.0%;
    height: 540px;
    object-fit: cover;
  }

  .giftMemRableContainer,
  .toYourLovedContainer {
    position: absolute;
    letter-spacing: 0em;
    text-align: left;
  }


  .giftMemRableContainer {
    top: 5.1%;
    left: 8%;
    font-size: 3.9vw;
    line-height: 115%;
  }


  .toYourLovedContainer {
    top: 7.5%;
    left: 8%;
    font-size: 3vw;
    line-height: 0%;
    font-weight: 500;
    color: var(--color-orangered);
  }


  .aboutUs,
  .collection,
  .download,
  .partners {
    position: absolute;
    top: 1%;
    left: 38%;
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 1000;
    color: var(--color-brown);
    text-align: left;
  }

  .aboutUs,
  .collection,
  .download {
    left: 55%;
  }

  .aboutUs,
  .download {
    left: 73%;
  }

  .download {
    left: 88%;
  }

  .ribinLogo1Icon {
    position: absolute;
    top: 0.2%;
    left: 1%;
    width: 200px;
    height: 90px;
  }


  .ribinChild2 {
    position: absolute;
    top: 14%;
    left: 32%;
    width: 499px;
    height: 73px;
  }

  .aboutUs1,
  .brandsThatTrust {
    position: absolute;
    letter-spacing: 0.01em;
    font-weight: 800;
  }

  .layer1Icon {
    top: 4.8%;
    left: 28%;
    width: 50px;
    height: 60px;
    overflow: hidden;
  }

  .brandsThatTrust {
    top: 14.3%;
    left: 34%;
  }

  .ribinWebsite22Icon {
    top: 17%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 450px;
  }

  .aboutUs1 {
    top: 44%;
    left: 44%;
  }


  .ribinAppIsContainer,
  .ribinIsAContainer {
    top: 46%;
    left: 0.2%;
    letter-spacing: -0.01em;
    line-height: 120%;
    font-size: 4vw;
  }

  .ribinIsAContainer {
    top: 48.6%;
    font-size: 3vw;
    letter-spacing: 0.01em;
    width: 80%;
    font-weight: 800;
  }

  .asset22x1,
  .asset22x2,
  .asset32x1 {
    position: absolute;
    top: 43%;
    left: 53%;
    width: 621px;
    height: 520px;
    object-fit: cover;
  }

  .rectangleDiv,
  .ribinChild1,
  .ribinInner {
    position: absolute;
    top: 56%;
    left: 0;
    background-color: var(--color-red);
    width: 100%;
    height: 550px;
  }

  .asset22x2,
  .asset32x1 {
    top: 63%;
    left: 50%;
    width: 476px;
    height: 66px;
  }

  .asset32x1 {
    top: 55%;
    left: 5%;
    width: 420px;
    height: 670px;
  }

  .downloadTheAppContainer {
    top: 58%;
    left: 48%;
    font-size: var(--font-size-29xl);
    line-height: 135%
  }


  .rectangleDiv,
  .ribinChild1 {
    top: 27%;
    height: 800px;
    width: 100%;
  }

  .ribinChild {
    top: 0px;
    background-color: #f09ea6;
    height: 0px;
  }

  .ribinChild3 {
    top: 29%;
    left: 30%;
  }

  .ourCollection {
    top: 29.3%;
    left: 36%;
  }

  .browseOurCollectionContainer {
    top: 32%;
    left: 23%;
  }

  .ribinChild1 {
    top: 85%;
    height: 700px;
  }

  .asset12x1 {
    top: 35%;
    left: 12px;
    width: 98%;
    height: 190px;
    object-fit: cover;
  }

  .foodBeveragesContainer {
    left: 1%;
    line-height: 100%;
    font-weight: 800;
    text-align: left;
  }

  .fashion,
  .foodBeveragesContainer,
  .jewelry {
    top: 38.5%;
  }

  .fashion {
    left: 15%;
    font-weight: 800;
  }

  .jewelry {
    left: 28%;
  }

  .accessories,
  .accessories1,
  .entertainment,
  .fitness,
  .jewelry {
    line-height: 100%;
    font-weight: 800;
  }

  .entertainment {
    top: 40%;
    left: 38%;
    font-size: 35px;
  }

  .accessories,
  .accessories1,
  .fitness {
    top: 38.5%;
    left: 64%;
  }

  .accessories,
  .accessories1 {
    left: 76%;
  }

  .accessories1 {
    left: 89%;
  }



  .ribinChild4 {
    top: 70%;
    left: 8%;
  }

  .contactUs {
    top: 70.3%;
    left: 11%;
  }

  .ribinChild6,
  .ribinChild7,
  .ribinChild8 {
    top: 72.6%;
    left: 7%;
    width: 350px;
    height: 50px;
  }

  .ribinChild7,
  .ribinChild8 {
    top: 73.8%;
  }

  .ribinChild8 {
    top: 75%;
  }

  .johnDoe,
  .johndoegmailcom,
  .xxxxxx99 {
    top: 72.8%;
    left: 15%;
    text-align: center;
  }

  .johndoegmailcom,
  .xxxxxx99 {
    top: 74%;
    left: 10%;
  }

  .xxxxxx99 {
    top: 75.1%;
    left: 14%;
  }

  .ribinChild9 {
    top: 77%;
    left: 13%;
  }

  .send {
    top: 77.2%;
    left: 17%;
  }


  .ribinChild5 {
    top: 70%;
    left: 60%;
  }

  .followUsOn {
    top: 70.3%;
    left: 62.5%;
  }

  .asset32x2 {
    top: 72%;
    left: 52%;
    width: 590px;
    height: 390px;
    object-fit: cover;
  }

  .lineDiv {
    top: 68%;
    left: 50%;
    width: 2px;
    height: 660px;
  }


  .ribinChild1 {
    top: 83%;
    height: 900px;
    width: 100%;
  }

  .companyOurServiceContainer,
  .contactUsFaqContainer {
    top: 88%;
    left: 2%;
  }

  .contactUsFaqContainer {
    left: 75%;
  }

  .wantToGiveContainer {
    top: 91%;
    left: 39%;
    font-size: 2vw;
    letter-spacing: 0.01em;
    line-height: 120%;
  }

  .asset42x1 {
    top: 89%;
    left: 41%;
    width: 300px;
    height: 100px;
    object-fit: cover;
  }


}